/*
    *GLOBAL
*/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200);
@import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
@import url(http://weloveiconfonts.com/api/?family=entypo);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body {
  margin: 0 auto;
  height: 100%;
  background-color: #000;
  font-family: 'Tahoma', sans-serif;
  font-weight: 100;
}

#headerBG{
  background: url(mainbg.jpg);
  height: 110vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*
    *NAVIGATION-BAR
*/

#navigation

.navbar {
  width: 100%;
}

.nav {
  width: 100%;
  height: 65px;
  background: #FFF;
  border-bottom: 1px solid #773141;
  list-style-type: none;
}

.nav li {
  float: right;
  height: 65px;
  width: 100px;
  cursor: pointer;
}

#navi {
  float: left;
  margin-top: 0px;
  margin-left: 10px;
}

#li-icon {
  border-left: 1px solid #773141;
}

a {
  color: #FFF;
}

a:visited {
  color: #FFF;
}

a:hover {
  color: #FFF;
}

a:active {
  color: #FFF;
}

/*
    *BOX-3D-FLIP
*/

.box-scene-ul {
  -webkit-perspective: 700;
  perspective: 700;
  height: 65px;
  width: 100px;
  margin: auto;
  z-index: 999;
}

.box-scene-ul:hover .box-ul {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.box-ul {
  height: 65px;
  width: 100px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  -webkit-transform-origin: 45px 45px -19px;
  transform-origin: 45px 45px -19px;
  transition: all 0.3s ease-out;
  transform-style: preserve-3d;
}

.face-li {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  -webkit-transform: rotateX(180deg);
  -webkit-transform-origin: 0 0;
  transform: rotateX(180deg);
  transform-origin: 0 0;
  backface-visibility: visible;
}

.front-li {
  background: #FFF;
  border-bottom: 1px solid #773141;
  z-index: 2;
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.side-li {
  background: #773141;
  color: #3F4047;
  z-index: 1;
  left: 0px;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

#context {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

h1 {
  font-weight: normal;
  font: 15px "Tahoma";
  line-height: 65px;
  text-align: center;
  color: #773141;
}

h2 {
  font-weight: normal;
  font: 15px "Tahoma";
  line-height: 65px;
  text-align: center;
  color: #FFF;
}

#context>h1 {
  font-weight: normal;
  font: 15px "Tahoma";
  line-height: 65px;
  text-align: center;
  color: #FFF;
}

#container-menu-icon {
  width: 40px;
  margin: auto;
  height: 30px;
  position: relative;
  margin-top: 17px;
  margin-left: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.line1 {
  width: 40px;
  height: 0.7px;
  background: #773141;
  margin: auto;
  right: 0;
  margin-top: 4px;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.line2 {
  width: 40px;
  height: 0.7px;
  background: #773141;
  margin: auto;
  margin-top: 16px;
  position: absolute;
}

.line3 {
  width: 40px;
  height: 0.7px;
  background: #773141;
  margin: auto;
  right: 0;
  margin-top: 28px;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 24px;
    margin-left: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: transparent}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

/*---------blob--------*/

.blob {
  position: absolute;
  background: #773141;
  left: 3%;
  margin-top: 7px;
  width: 50px;
  height: 50px;
  border-radius: -50px;
  text-align: center;
}

.blob span {
  font-weight: normal;
  font: 15px "Tahoma";
  line-height: 50px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

span {
  font-weight: normal;
  font: 15px "Tahoma";
  line-height: 20px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

/* gallery */

#gallery

.gallery {
  background: #FFB612;
  width: 500px;
  margin: 4em auto;
}

.gallery img {
  max-width: 100%;
  height: auto;
  justify-content: center;
}

.gallery .hero {
  padding: 3em;
  text-align: center;
  background: transparent;
}

.gallery .thumbs {
  background: transparent;
  padding: 1em;
  text-align: center;
}

.gallery .thumbs img {
  width: 100px;
  height: auto;
  cursor: pointer;
  margin: 0.5rem;
}

.gallery .active {
  opacity: 0.5;
}

/* Random Facts */

.reFresh {
  padding: 1em;
  color: #ffffff;
  background-color: #773141;
  font: 20px "Tahoma";
  border: none;
}

#container2 {
  width: 800px;
  margin: 5% auto 0 auto;
  text-align: center;
  background-color: transparent;
  padding: 2em;
}

#target {
  font-family: sans-serif;
  font: 30px "Tahoma";
  color: #FFF;
}

/* guestbook */

#main1 {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid #FFB612;
  padding: 20px;
}

#header2 {
  display: flex;
  justify-content: center;
  background: #773141;
}

#title1 {
  color: #FFB612;
  font-size: 25px;
  font: Tahoma;
}

#container3 {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
  padding: 10px;
  border-radius: 25px;
}

.commentItem {
  display: flex;
  padding: 1px 0;
  flex-direction: column;

}

.commentItem span {
  text-align: left;
}

.commentItem hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#input {
  display: flex;
  color: #FFF;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #FFF;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=textbox], select {
  width: 100%;
  padding: 25px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #773141;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #FFB612;
}

div.a {
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 20px;
}
